body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#F0F8FF;  
    font-family: sans-serif;
    font-size: 1em;  
}  

.login{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #FDE385;  
    border-radius: 15px ;      
} 

#uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#password{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  

label{  
    color: #000;  
    font-size: 17px;  
}  

h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  
